exportPattern("^[[:alpha:]]+")


export(

  "dlnorm_int",
  "dofits",
  "RRpois",
  "RRlnV",
  "RRln2V",
  "RRlnS",

  "curE_BG",

  "BL_1",
  "BL_2",
  "BL_3",
  "BL_4",
  "BL_5",
  "BL_6",

    "BL1_D2",
    "BL2_D2",
    "BL3_D2",
    "BL4_D2",
    "BL5_D2",
    "BL6_D2",

    "BL1_D5",
    "BL2_D5",
    "BL3_D5",
    "BL4_D5",
    "BL5_D5",
    "BL6_D5",

    "BL1_D8",
    "BL2_D8",
    "BL3_D8",
    "BL4_D8",
    "BL5_D8",
    "BL6_D8",

    "BLMPs"

)

